// Default style set & variables
$font-stack: 'Sarabun', sans-serif;
$font-size: 1.25rem;
$light-font: 300;
$medium-font: 500;
$heavy-font: 700;
$primary-color: rgb(32, 66, 206);

* {
  font-family: $font-stack
}

body {
  margin: 0;
  padding: 0;
};

footer {
  background-color: gainsboro;
}

a{
  text-decoration: none;
  color: $primary-color;
}

.container {
  margin: 4% auto 4% auto;
  max-width: 50%;
}

// Set elements

.is {
  &__title{
    font-size: $font-size * 2;
    font-weight: $heavy-font;
    margin: inherit;
  };

  &__subtitle{
    font-size: $font-size;
    font-weight: $heavy-font;
    margin-top: 1rem;
  };

  &__date{
    text-transform: uppercase;
  };

  &__tag{
    font-size: $font-size/1.5;
    font-weight: $medium-font;
  };
  
  &__body{
    font-size: $font-size/1.25;
    font-weight: $light-font;
    line-height: 1.5;
  }
}

// BLOG STYLE

.blog {
  width: 100%;
  &__intro{
    margin: 0;
  }
}

// Teaser style

.teaser {
  display: flex;
  margin-top: 10%;
  width: 100%;

  img{
    width: 100%;
  }

  &__left{
    float: left;
    padding-right: 2.5%;
  }

  &__right{
    float: right;
    padding-left: 2.5%;
  }
}

// FORM STYLE

.form {
  margin: 15% 0 15% 0;
  h3{
    text-align: center;
  }
}

.form-body{
  text-align: center;
}

input[type=text], select {
  appearance: none;
  width: 47%;
  padding: 2%;
  margin: 2% 1%;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

select{
  background: right/4% url("../images/arrow-down.png") no-repeat;
  background-position: right 3% top 50%;
  cursor: pointer;
}

input[type=button] {
  width: 25%;
  background-color: $primary-color;
  color: white;
  padding: 1.5% 2%;
  margin: 1%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

// Error log
#error-log{
  color: brown;
}

// FOOTER STYLE

.footer__container {
  width: 50%;
  margin: auto;
  padding: 5rem 0 5rem 0;
}

.address, .contact{
  width: 100%;
  padding-top: 1rem;
  line-height: 0.75;
  h4, p, a {
    font-size: $font-size/1.5;
  }
}

// MEDIA CHANNEL
@media screen and (max-width: 736px), screen and (max-width: 375px) { /* Iphone 7, 8 plus & other mobile devices*/
  $max-width: 80%;
  
  .container {
    margin: 4% auto 4% auto;
    max-width: $max-width;
  }

  // Teaser
  .teaser {
    display: flex;
    flex-direction: column;
    margin-top: 20%;
    width: 100%;
    div {
      margin-top: inherit;
      padding: 0;
    }
  }
  // Form
  $size: 4%;
  $full-width: 100%;
  input[type=text], select {
    width: $full-width;
    padding: $size;
    margin-top: $size;
  }
  input[type=submit] {
    width: 60%;
    padding: $size;
  }

  // Footer
  .footer__container {
    width: $max-width;
  }
}